<html>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
  
  <!-- footer section-->

  <footer class="ht-footer">
    <div class="container">
      <div class="flex-parent-ft">
        <div class="flex-child-ft item1">

           <a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="120" height="120"></a>

           <p>5th Cross, 4th Main<br>
          Srinivasanagara, BSK-1st stage, Bangalore - 560050</p>
          <p>Call us: <a href="#">(+91) 9972336983</a></p>
        </div>
      </div>


        
        <div class="flex-child-ft item3">
    <div class="ft-copyright">
      <div class="ft-left">
        <p><a target="_blank" href="https://www.templateshub.net">Copyright: This Template is designed by template hub</a></p>
      </div>
      <div class="backtotop">
        <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
      </div>
      
    </div>
  </footer>
</body>

</html>