<% include partials/header %>

<!-- navbar -->
<% include partials/navbar %>
<!-- /navbar -->

<!-- flash -->
<% include partials/flash %>
<!-- /flash -->

<div class="container">
	<div class="jumbotron">
	<div class="hero common-hero">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-12">
				  <div class="hero-ct">
					<br>

					<h1>About Us</h1>
					
					<p style="padding-right: 60px;">Our platform Pocket box office is concentrated on providing movie related information; here the users can get the accurate information about the movies details and rating of all the upcoming and the movies which are already released.
						Ratings from different platforms are displayed and users can get all details of the movie in a single touch and users can watch upcoming movies trailers also.
						In our website users can get variety of movies and all genres of movies details, Users can search movies details according to their choice and can get notification by subscribing in the newsletter, users can also give their responses of their experience.
						For smooth user experience, to provide good content and to update the information our team is working dedicatedly and our team includes persons who are all have good knowledge in the field of a website management.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- About list section-->
<div class="page-single">
	<div class="container">
	<div style="padding-left: 35%;">
					<h1 class="bd-hd">Our Team</h1>
				</div>
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				
				<br>
				
				<div class="page-single">
					<div class="container">
					
				<div class="row">
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<a href="#"><img src="images/developer1.jpeg" alt="" width="180" height="220"></a>
							<div class="ceb-infor">
								<h2>Praveen Bhaskar Devadiga</h2>
								
								<span>Database Developer</span>

								<p>Praveen is our database administrator, he is known for his No SQL database creation and management skills, he is taking care of all the database related task and he also good in scripting languages and he is also contributing in UI designing.</p>
									
								<p style="
								font-size: 18px;
								font-family: 'Dosis', sans-serif;
								font-size: 14px;
								color: #ffffff;
								font-weight: bold;">
									Follow:&nbsp;&nbsp;&nbsp;
									<a href="https://www.facebook.com/praveendevadiga.praveen.5">
									  <i class="fab fa-facebook-square"></i>
									  
									</a>
									<a href="https://instagram.com/praveen_dev97?igshid=y19dvzzm8fi1">
										<i class="fab fa-instagram"></i>
										
									  </a>
									  <a href="https://twitter.com/devadiga478?s=09">
										<i class="fab fa-twitter"></i>
										
									  </a>
									  <a href="https://www.youtube.com/channel/UCAi_-QyWVwZ1ALQ65Lm8qgw">
										<i class="fab fa-youtube"></i>
										
									  </a>
								  </p>
								
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<a href="#"><img src="images/developer2.jpg" alt="" width="180" height="220"></a>
							<div class="ceb-infor">
								<h2>Shamanth M</h2>

								<span>UI/UX Designer</span>
								<p>Shamanth is our Front end developer and he is taking care of all UI related tasks and maintainance. Shamanth has good knowledge about front development and scripting languages. </p>
								<p style="
								font-size: 18px;
								font-family: 'Dosis', sans-serif;
								font-size: 14px;
								color: #ffffff;
								font-weight: bold;">
									Follow:&nbsp;&nbsp;&nbsp;
									<a href="https://www.facebook.com/shamanth.edge/">
									  <i class="fab fa-facebook-square"></i>
									  
									</a>
									<a href="https://instagram.com/shamanth_freakin_edge?igshid=bx011x28juud">
										<i class="fab fa-instagram"></i>
										
									  </a>
									  <a href="https://twitter.com/shamanthedge1">
										<i class="fab fa-twitter"></i>
										
									  </a>
									  <a href="https://www.youtube.com/channel/UCCsni4YRhOTiM0SVxGJ3QGQ">
										<i class="fab fa-youtube"></i>
										
									  </a>
								  </p>
								
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<a href="#"><img src="images/developer3.jpg" alt="" width="180" height="220"></a>
							<div class="ceb-infor">
								<h2>Naresh Ganapati Bhat</h2>
								<span>Server Side Developer</span>
								<p>Naresh is our server side programmer and he is taking care of all server related task and he is dedicatedly working on the request and response management for the flawless work and good user response of the website.</p>
								<p style="
								font-size: 18px;
								font-family: 'Dosis', sans-serif;
								font-size: 14px;
								color: #ffffff;
								font-weight: bold;">
									Follow:&nbsp;&nbsp;&nbsp;
									<a href="https://www.facebook.com/me.DamonSalvatore/">
									  <i class="fab fa-facebook-square"></i>
									  
									</a>
									<a href="https://www.instagram.com/naresh.bhat/?hl=en">
										<i class="fab fa-instagram"></i>
										
									  </a>
									  <a href="https://twitter.com/shamanthedge1">
										<i class="fab fa-twitter"></i>
										
									  </a>
									  <a href="https://www.youtube.com/features?nv=1">
										<i class="fab fa-youtube"></i>
										
									  </a>
								  </p>
							</div>
						</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br><br>

<!-- FAQ-->

<div class="page-single">
	<div class="container">
		<div style="text-align:center">
			<h2 style="color:#FFFAFA;">Frequently Asked Questions</h2>
			<p>Choose from the FAQ's below</p>
		</div>
<form style="padding-right: 60px;">
<button class="accordion">What is PocketBox?</button>
<div>
  <p>Pocket Box Office is a movie website which is focused about
information of movies, where user can get the complete information
about the movies, from release date to the review and rating of the
released movies. The website will give the user a complete package of
information, which will help the user to decide whether they can spend
some money on it or not</p>
</div>

<button class="accordion">Features of PocketBox?</button>
<div>
  <p>A website related to movies information generally concentrated on
one theme it may be either the review and information of movies currently
running, the information of the upcoming movies, and movie reviews</p>
</div>

<button class="accordion">Can users give review?</button>
<div>
  <p>Our new system will include a section which will give review of all
newly released movies, but the thing which makes it different is it will
provide the review of both the experts and the fans.</p>
</div>

<button class="accordion">Can users stream online?</button>
<div>
  <p>For every movie or show
we may not give the directly streaming feature, we may provide the link
to watch that show in an alternative platform, because of copyright issues</p>
</div>

<button class="accordion">Will users get all the movies?</button>
<div>
  <p>We are looking forward to give not just the details of currently
running movies, but also the details of old movies.</p>
</div>

<button class="accordion">Do users have to pay?</button>
<div>
  <p>Right now the copyright claim has not been made so users are given external link to stream and download the movies, so they dont have to pay. </p>
</div>

<button class="accordion">Is this application legal?</button>
<div>
  <p>This application is done as a college project so its not legal.</p>
</div>
<p>You can use this user friendly applicaton to know more</p>
</div>
</div>
</form>
<script>

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>


    

    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/contact" role="button">
        Contact Us
      </a>
    </p>
  </div>
</div>

<% include partials/footer %>